<div class='container'>
  <header>
    <h1>Art Gallery</h1>
  </header>
  <main class='main clearfix'>
    <h2>Explore</h2>
    <div>
      <div class='media'>
        <img class='media-image' src='assets/images/vincent-van-gogh-almond-blossom.webp'>
        <div class='media-body'>
          <h4>Exhibitions</h4>
          <p>
            Explore art collections - from around the world and throughout history
          </p>
        </div>
      </div>

      <div class='media'>
        <img class='media-image' src='assets/images/art-gallery-events.jpeg'>
        <div class='media-body'>
          <h4>Events</h4>
          <p>
            Explore our events: summer camp and others
          </p>
        </div>
      </div>

      <div class='media'>
        <img class='media-image' src='assets/images/learning-resources.jpeg'>
        <div class='media-body'>
          <h4>Learning resources</h4>
          <p>
            Learn with us
          </p>
        </div>
      </div>

      <div class='media'>
        <img class='media-image' src='assets/images/store.jpeg'>
        <div class='media-body'>
          <h4>Store</h4>
          <p>
            ...
          </p>
        </div>
      </div>
    </div>
  </main>
</div>
